@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body{
  background-image: url('../img/background.jpg');
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #663200;
}
h1{
  font-size: 110px;
}
h2{
  font-size: 55px;
}
h3{
  font-size: 40px;
  line-height: 88%;
}
p{
  font-size: 20px;
}
.bg{
  background-color: rgba(203, 166, 117, 0.5);
  background-clip: padding-box;
  border-radius: 10px;
}
.panel{
  background-color: rgba(255, 255, 255, 0.5);
}
.btn{
  letter-spacing: 210%;
}
.gh-list{
  display: inline;
  list-style-type: none;
}
