@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body{
  background-image: url('../img/background.jpg');
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 0 0 10px white;
  color: #663200;
}
h1{
  font-size: 110px;
}
h2{
  font-size: 55px;
}
h3{
  font-size: 40px;
  line-height: 88%;
}
p{
  font-size: 20px;
}
.bg{
  background-color: rgba(203, 166, 117, 0.5);
  background-clip: padding-box;
  border-radius: 10px;
}
.panel{
  background-color: rgba(255, 255, 255, 0.5);
}
.btn{
  letter-spacing: 210%;
}
.gh-list{
  display: inline;
  list-style-type: none;
}
.gh-img{
  width: 50px;
}

.container {
  position: relative;
  height: 14rem;
  /*border: 1px solid;*/
}

.container-fluid {
	/*border: 1px solid;*/
}

.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px dashed deeppink;
}
