<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel='stylesheet' href='/css/style.css'>
    <script src="js/external/browserMqtt.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container text-center">
      <div class="container-fluid">
        <h1 class="page-header"><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      <div class="container-fluid">
        <h2 class="page-header">Status</h2>
        <div class="row">
          <div class="col-md-12 panel panel-default panel-body" id="distance"><%= distance %></div>
        </div>
      </div>
      <div class="container-fluid">
        <h2 class="page-header">Controls</h2>
        <div class="col-md-4 panel panel-default panel-body">
          <form action="python/makeSmallCoffee/" method="get" target="hiddenFrame">
            <button class="btn btn-primary btn-lg">small coffee!</button>
          </form>
        </div>
        <div class="col-md-4 panel panel-default panel-body"><p id="messages"></p></div>
        <div class="col-md-4 panel panel-default panel-body">
          <form action="python/makeBigCoffee/" method="get" target="hiddenFrame">
            <button class="btn btn-primary btn-lg">big coffee!</button>
          </form>
        </div>

        <div class="row">
          <!-- http://stackoverflow.com/a/5733858 -->
          <form action="python/powerButton/" method="get" target="hiddenFrame">
            <button class="btn btn-primary btn-lg">Test Powerbutton</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      var output_messages = document.getElementById("messages");
      var output_distance = document.getElementById("distance");
      var client = mqtt.connect('ws://iot.eclipse.org:80/ws'); // you add a ws:// url here
      client.subscribe("coffeefy/messages");
      client.subscribe("coffeefy/sensors/ultrasonic");
      client.on("message", function(topic, payload) {
        if (topic=="coffeefy/messages") {
          output_messages.innerHTML = payload;
        }
        if (topic=="coffeefy/sensors/ultrasonic") {
          output_distance.innerHTML = payload;
          $(document).ready(function(){
            if(payload > 5){
              $('.btn').prop('disabled', true);
            } else {
              $('.btn').prop('disabled', false);
            }
          })
        }
      });
      client.publish("coffeefy", "hi, this is browser!");
    </script>
    <style>
      .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
    </style>
    <iframe name="hiddenFrame" class="hide"></iframe>
  </body>
</html>
