<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coffeefy</title>
    <meta name="description" content="The Senseo Whisperer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="./css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" type="text/css" href="./css/font-mfizz.css">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
		<link rel="stylesheet" type="text/css" href="./css/component.css">
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#first"><i class="ion-coffee"></i> Coffeefy</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#one">Info</a></li>
            <li><a class="page-scroll" href="#two">Hardware</a></li>
            <li><a class="page-scroll" href="#twotwo">Software</a></li>
            <li><a class="page-scroll" href="#three">Bilder</a></li>
            <li><a class="page-scroll" href="#four">Features</a></li>
            <li><a class="page-scroll" href="#last">Kontakt</a></li>
            <li><a class="page-scroll" href="./quellen.html#source">Quellen</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header id="first">
      <div class="header-content">
        <div class="inner">
          <h1 class="cursive">- Coffeefy -</h1>
          <h4>The Senseo Whisperer</h4>
          <hr>


          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <form action="python/makeSmallCoffee/" method="get" target="hiddenFrame">
                <button class="progress-button" data-style="fill" data-vertical="" data-video-url="./assets/coffee_small.mp4">
                  <span class="content">Small coffee</span>
                  <span class="progress progress-inner notransition" style="width: 0%; opacity: 1;"></span>
                </button>
              </form>
            </div>
            <div class="col-md-3">
              <form action="python/makeBigCoffee/" method="get" target="hiddenFrame">
                <button class="progress-button-big" data-style="fill" data-vertical="" data-video-url="./assets/coffee_small.mp4">
                  <span class="content">Big coffee</span>
                  <span class="progress progress-inner notransition" style="width: 0%; opacity: 1;"></span>
                </button>
              </form>
            </div>
            <div class="col-md-3"></div>
          </div>

          <!-- TEST
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <form action="python/makeSmallCoffee/" method="get" target="hiddenFrame">
                <button class="btn">kleiner Kaffee</button>
              </form>
            </div>
            <div class="col-md-3">
              <form action="python/makeBigCoffee/" method="get" target="hiddenFrame">
                <button class="btn">grosser Kaffee</button>
              </form>
            </div>
            <div class="col-md-3">
            </div>
          </div>
-->
          <div>
            <p id="distance"></p>
            <p id="messages"></p>
          </div>
        </div>
      </div>
      <video class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="./assets/coffee_stop.png" id="player">
        <!-- <source media="screen and (min-device-width:768)" src="./assets/coffee.mp4" type="video/mp4" > -->
        Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </header>

    <!-- including main info content -->
    <%- include content.ejs %>

    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      	<div class="modal-body">
      		<img src="" id="galleryImage" class="img-responsive" />
      		<p>
    		    <br/>
    		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
      		</p>
      	</div>
      </div>
      </div>
    </div>
    <!--scripts loaded here -->
    <script src="./js/external/browserMqtt.js"></script>
    <script src="./js/modernizr.custom.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="./js/classie.js"></script>
		<script src="./js/progressButton.js"></script>
		<script>
    [].slice.call( document.querySelectorAll( 'button.progress-button' ) ).forEach( function( bttn ) {
      new ProgressButton( bttn, {
        callback : function( instance ) {
          var progress = 0,
            interval = setInterval( function() {
              progress = Math.min( progress + Math.random() * 0.1, 1 );
              instance._setProgress( progress );
              if( progress === 1 ) {
                instance._stop(1);
                clearInterval( interval );
              }
            }, 500 );
        }
      } );
    } );
    [].slice.call( document.querySelectorAll( 'button.progress-button-big' ) ).forEach( function( bttn ) {
      new ProgressButton( bttn, {
        callback : function( instance ) {
          var progress = 0,
            interval = setInterval( function() {
              progress = Math.min( progress + Math.random() * 0.1, 1 );
              instance._setProgress( progress );
              if( progress === 1 ) {
                instance._stop(1);
                clearInterval( interval );
              }
            }, 1000 );
        }
      } );
    } );
		</script>
    <script>
      var output_messages = document.getElementById("messages");
      var output_status = document.getElementById("status");
      var client = mqtt.connect('<%= address %>');
      var active = <%= status %>;
      if(active == 1){
        $('.btn').prop('disabled', true);
        $('.form').addClass("formo");
      } else {
        $('.btn').prop('disabled', false);
        $('.form').removeClass("formo").addClass("formi");
      }
      client.subscribe("coffeefy/messages");
      client.subscribe("coffeefy/sensors/ultrasonic");
      client.subscribe("coffeefy/status");
      client.on("message", function(topic, payload) {
        if (topic=="coffeefy/messages") {
          output_messages.innerHTML = payload;
        }
        if (topic=="coffeefy/status") {
          output_status.innerHTML = payload;
          $(document).ready(function(){
            if(payload == 1){
              active = 1;
              $('.btn').prop('disabled', true);
              $('.btn').prop("value", "X");
              $('.btn').css("color", "red");
            } else {
              active = 0;
              $('.btn').prop('disabled', false);
              $('#small').prop("value", "Small Coffee");
              $('#big').prop("value", "Big Coffee");
              $('.btn').css("color", "green");
            }
          })
        }
        if (topic=="coffeefy/sensors/ultrasonic") {
          $(document).ready(function(){
            if(payload > 5 && active == 0){
              $('.btn').prop('disabled', true);
              $('#distance').html(payload + 'CM | no Cup !');
            } else if (payload <= 5 && active == 0) {
              $('.btn').prop('disabled', false);
              $('#distance').html(payload + 'CM | OK');
            }
          })
        }
      });
    </script>
    <style>
      .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
    </style>
    <!-- http://stackoverflow.com/a/5733858 -->
    <iframe name="hiddenFrame" class="hide"></iframe>
  </body>
</html>
