<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel='stylesheet' href='/css/style.css'>
    <script src="js/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="js/external/browserMqtt.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container text-center">
      <div class="container-fluid">
        <h1 class="page-header"><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      <div class="container-fluid">
        <h2 class="page-header">Status</h2>
        <div class="row">
          <div class="col-md-12 panel panel-default panel-body" id="status"></div>
        </div>
      </div>
      <div class="container-fluid">
        <h2 class="page-header">Controls</h2>
        <div class="col-md-4 panel panel-default panel-body">
          <form action="python/makeSmallCoffee/" method="get" target="hiddenFrame">
            <button class="btn btn-primary btn-lg start">small coffee!</button>
          </form>
        </div>
        <div class="col-md-4 panel panel-default panel-body"><p id="messages"></p>
        </div>
        <div class="col-md-4 panel panel-default panel-body">
          <form action="python/makeBigCoffee/" method="get" target="hiddenFrame">
            <button class="btn btn-primary btn-lg start">big coffee!</button>
          </form>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-md-12 panel panel-default panel-footer">
          <ul class="gh-list">
            <li><img src="img/github.png" class="gh-img"></li>
            <li><p>check out our project on GitHub !</p></li>
            <li><img src="img/qr_code.png" class="gh-img"></li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      var output_messages = document.getElementById("messages");
      var output_status = document.getElementById("status");
      //var client = mqtt.connect('ws://test.mosquitto.org:8080');
      var client = mqtt.connect('ws://0.0.0.0:1883');
      //var active = false;
      var active = <%= status %>;
      if(active == 1){
        $('.btn').prop('disabled', true);
      } else {
        $('.btn').prop('disabled', false);
      }

      client.subscribe("coffeefy/messages");
      client.subscribe("coffeefy/sensors/ultrasonic");
      client.subscribe("coffeefy/status");


      client.on("message", function(topic, payload) {
        if (topic=="coffeefy/messages") {
          output_messages.innerHTML = payload;
        }
        if (topic=="coffeefy/status") {
          output_status.innerHTML = payload;
          $(document).ready(function(){
            if(payload == 1){
              active = 1;
              $('.btn').prop('disabled', true);
            } else {
              active = 0;
              $('.btn').prop('disabled', false);
            }
          })
        }
        if (topic=="coffeefy/sensors/ultrasonic") {
          $(document).ready(function(){
            if(payload > 5 && active == 0){
              $('.btn').prop('disabled', true);
              $('#distance').html('no Cup !');
            } else if (payload <= 5 && active == 0) {
              $('.btn').prop('disabled', false);
              $('#distance').html('OK');
            }
          })
        }
      });
    </script>
    <style>
      .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
    </style>
    <!-- http://stackoverflow.com/a/5733858 -->
    <iframe name="hiddenFrame" class="hide"></iframe>
  </body>
</html>
