<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <div class="container text-center">
          <div class="container-fluid">
              <h1 class="page-header"><%= title %></h1>
              <p>Welcome to <%= title %></p>
          </div>
          <div class="container-fluid">
              <h2 class="page-header">Status</h2>
              <div class="row">
                <div class="col-md-4 panel panel-default panel-body">lorem ipsum</div>
                <div class="col-md-4 panel panel-default panel-body">Distanz: <%= distance %>cm</div>
                <div class="col-md-4 panel panel-default panel-body">lorem ipsum</div>
              </div>
          </div>
          <div class="container-fluid">
              <h2 class="page-header">Controls</h2>
              <div class="panel panel-default panel-body">general status output: working, idling</div>
              <button class="btn btn-primary btn-lg">Give me Coffee!</button>
          </div>
      </div>
  </body>
</html>
